div > ul > li {
  border: 1px solid red;
  background-color: #eeeeee;
}

div > ul > li > ul > li{
  border: 1px solid blue;
  margin-left: 10px;
  background-color: white;
}

div > ul {
    margin: 0 auto;
    width: 100px;
}

ul li {
    width: 100px;
    padding: 10px;
    font-family: verdana;
    color: #222222;
    text-align: center;
}

div {
    margin-top: 2em;
}

h1 {
    font-family: georgia;
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
}